services:
    data-service:
        build:
            context: .
            dockerfile: Dockerfile
        image: data-service
        container_name: data-service
        volumes:
            - ./:/app
        ports:
            - "3006:8080"
        environment:
            - NODE_ENV=development
            - PORT=8080
        networks:
            - good-food

    nginx:
        image: nginx:1-alpine
        container_name: data-nginx
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "8086:80"
        depends_on:
            - data-service
        networks:
            - good-food

networks:
    good-food:
        external: true
